:root {
    /*Paleta de colores*/
    --blanco: #F2F2F2;
    --grisclaro: #D1D1D1;
    --gris: #B8B8B8;
    --primario: #ffa500;
    --primariooscuro: #c88200;
    --secundario: #2979C4;
    --secundariooscuro: #336596;
    --negro: #242800;

    --azul: #4091c9;
    --rojo: #ef3c2d;
    --verde: #a5eea0;

    --error: #ef3c2d;
    --sucess: #a5eea0;

    /*Fuente*/
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
}

input {
    width: 100%;
    height: 1rem;
    margin-bottom: 0px;
    padding: 1.5rem;
    border-style: solid;
    border-width: .2rem;
    border-color: var(--negro);
    border-radius: 1rem;
}

select {
    border: .2rem;
    padding: 1rem;
    border-radius: 1rem;
}

/* # Generales ############################### */

.error {
    color: var(--error);
}

.error-box {
    border-color: var(--error);
    border-style: solid;
}

.error-message {
    font-size: 1rem;
    color: var(--error);
}

.sucess {
    color: var(--sucess);
    border-color: var(--sucess);
}

.sucess-box {
    border-color: var(--sucess);
    border-style: solid;
}

.contenedor {
    margin: 1.5rem;
}

.sombra {
    box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 1);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}

.formatosforms {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formguide {
    padding-left: .5em;
    font-weight: 400;
}

/* # Botones ############################### */

.button {
    padding: 1rem;
    margin: .5rem;
    width: 100%;
    border-radius: 2rem;
    background-color: var(--primario);
    border-color: var(--primario);
    border-style: solid;
    border-width: .2em;
    color: var(--blanco);
    font-size: 1.2rem;
}

.buttonalt {
    padding: 1rem;
    margin: .5rem;
    width: 100%;
    border-radius: 2rem;
    background-color: white;
    border-color: var(--primario);
    border-style: solid;
    border-width: .2em;
    color: var(--negro);
    font-size: 1.2rem;
}

.buttonmini {
    padding: 1rem;
    margin: .5rem;
    width: 40%;
    border-radius: 2rem;
    background-color: var(--primario);
    border-color: var(--primario);
    border-style: solid;
    border-width: .2em;
    color: var(--blanco);
    font-size: 1.2rem;
}

.buttonminialt {
    padding: 1rem;
    margin: .5rem;
    width: 40%;
    border-radius: 2rem;
    background-color: white;
    border-color: var(--primario);
    border-style: solid;
    border-width: .2em;
    color: var(--negro);
    font-size: 1.2rem;
}

.button:hover,
.buttonalt:hover,
.buttonmini:hover,
.buttonminialt:hover {
    cursor: pointer;
    background-color: var(--secundario);
    transition: .2s;
}

/* # Login & Reg. Screen ############################### */

.contenedor-login {
    width: 40%;
    padding: 2rem;
    margin: 2rem;
    border-radius: 2rem;
    background: var(--blanco);
}

/* # NAV-BAR ############################### */

.headermain {
    padding: 0.2rem;
    height: 2rem;
}

header {
    background-color: var(--primario);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headermain img {
    height: 2rem;
}

.logo {
    flex-grow: 5;
    text-align: center;
    align-self: center;
    font-size: 3rem;
    color: var(--blanco);
}