#backgroundhome{
    background-image: url("../img/fondohome.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    margin: 0;
    padding: 0;
    overflow: visible;
    height: auto;
}

:root {
    --blanco: #F2F2F2;
    --primario: #ffa500;
    --secundario: #2979C4;
    --negro: #242800;
    --error: #ef3c2d;
}

body {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
}

#backgroundhome {
    background-color: var(--blanco);
}

.headermain {
    padding: 0.2rem;
    height: 2rem;
}

header {
    background-color: var(--primario);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headermain img {
    height: 2rem;
}

.headermain img:hover {
    background: #f09b08;
    border-radius: px;
    box-shadow: 0 0 10px rgb(255, 255, 255);
}

.menu img {
    width: 5rem;
    margin: .5rem;
}

.logo {
    flex-grow: 5;
    text-align: center;
    align-self: center;
    font-size: 3rem;
    color: var(--blanco);
}

.headerfiltros a:hover {
    color: #000000;
    border: 2px solid rgb(248, 170, 36);
    border-radius: 0px;
    padding: 2px;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: ease-out 0.4s;
}

.headerfiltros {
    height: 1rem;
    color: var(--blanco);
    padding: .5rem;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: var(--primario);
    overflow-x: hidden;
    transition: width 0.5s ease 0s;
}

.overlay--active {
    width: 100%;
}

.overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: color 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
    color: #0088a9;
}

.overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: var(--blanco);
}


.buynow{
    margin-top: 175px;
    z-index: 1;
    font-size: 15px;
    padding: 20px;
    border-radius: 50px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    align-self: center;
    position: absolute;
    left: 690px;
    top: 250px;
    cursor: pointer;
}

#logohome{

    width: 400px;
    font-size: 50px;
    text-transform: uppercase;
    padding: 20px;
    border-radius: 50px;
    margin-bottom: 10px;
    align-self: center;
    position: sticky;
    left: 50%;
    bottom: 100px;
    transform: translateX(-50%);
    opacity: 0.90; 
    
}

#h4home {
    text-align: center;
}

#product {
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 75px;
    margin-top: 10px;
}

.product-item {
    margin: 30px;
    text-align: center;
    width: 50%;
    height: 100px;
    border: 1px solid black;
    padding: 5%;
    border-radius: 30px;
    box-shadow: 5px 5px 12px #00000035;
    background: #FFFFFF25;
}

.photoproduct {
    float: left;
    height: 100px;
}

.product_name {
    font-size: 1rem;
    color: #000;
}

.price {
    font-size: 1.2rem;
    color: #000;
}

.viewproduct {
    background-color: #FF4500;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.viewproduct:hover {
    background: #fd9393;
}

/* Responsivo */
@media screen and (max-width: 600px) {
    #product {
        grid-template-columns: repeat(1, 1fr);
    }
    .product-item {
        width: 100%;
    }
}

@media screen and (max-width: 1250px) {
    .imghome {
        display: none;
    }
    .buynow {
        display: none;
    }
    .photoproduct {
        width: 80%;
    }
    .product_name {
        display: none;
    }
    .price {
        display: none;
    }
}

@media screen and (max-width: 1450px) {
    .imghome {
        display: none;
    }
    .buynow {
        display: none;
    }
}

