:root {
    /*Paleta de colores*/
    --blanco: #F2F2F2;
    --grisclaro: #D1D1D1;
    --gris: #B8B8B8;
    --primario: #ffa500;
    --primariooscuro: #c88200;
    --secundario: #2979C4;
    --secundariooscuro: #336596;
    --negro: #242800;

    --azul: #4091c9;
    --rojo: #ef3c2d;
    --verde: #a5eea0;

    --error: #ef3c2d;
    --sucess: #a5eea0;

    /*Fuente*/
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
}

.headermain {
    padding: 0.2rem;
    height: 2rem;
}

header{
    background-color: var(--primario);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headermain img{
    height: 2rem;
}
.headermain img:hover {
    background: #f09b08;
    border-radius: px;    
    box-shadow: 0 0 10px rgb(255, 255, 255);
}
.menu img{
    width: 5rem;
    margin: .5rem;
}

a{
    cursor: pointer;
}
.logo{
    flex-grow: 5;
    text-align: center;
    align-self: center;
    font-size: 3rem;
    color: var(--blanco);
}


.headerfiltros a:hover { 

    color: #000000;
    border: 2px solid rgb(248, 170, 36);
    border-radius: 0px;
    padding: 2px;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.headerfiltros{
    height: 1rem;
    color: var(--blanco);
    padding: .5rem;
}



#shopcart_product {
    background-color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
    gap: 7%;
  }
  
.photoproduct {
    width: 100px;
    height: 100px;
    margin-right: 10px;
  }
  
.trashcan {
    width: 20px;
    height: 20px;
  }

.trashcan:hover{
   cursor: pointer;

  }

.shopcart_product_name{
    color: #000000;
}
.shopcart_product_price{
    color: #000000;
}
.shopcart_product_quantity{
    color: #000000;
}
.shopcart_product_size{
    color: #000000;
}
.gotocheckout:hover{background-color: #f09b08;

}
.gotocheckout{
    background-color:#dfdada;
    padding: 1%;
    float: right;
    text-transform: uppercase;
    border-radius: 50px;
    transform: translateX(-50%);
    opacity: 0.90; 
}