

#backgroundhome {
  background-color: #F2F2F2;
  background-image: url("../img/fondohome.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  overflow: visible;
  height: auto;
}

#logohome {
  width: 400px;
  font-size: 50px;
  text-transform: uppercase;
  padding: 20px;
  border-radius: 50px;
  margin-bottom: 10px;
  align-self: center;
  position: sticky;
  left: 50%;
  bottom: 100px;
  transform: translateX(-50%);
  opacity: 0.9;
}

#h4home {
  text-align: center;
}