

@media screen and (max-width: 600px) {
  #product {
    grid-template-columns: repeat(1, 1fr);
  }
  
  .product-item {
    width: 100%;
  }
  
  .proproduct {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .colprecio,
  .fotoproducto,
  .descripcion {
    width: 100%;
  }
}

@media screen and (max-width: 1250px) {
  .imghome,
  .buynow,
  .product_name,
  .price {
    display: none;
  }
  
  .photoproduct {
    width: 80%;
  }
}

@media screen and (max-width: 1450px) {
  .imghome,
  .buynow {
    display: none;
  }
}