@charset "UTF-8";

:root {
  --blanco: #F2F2F2;
  --primario: #ffa500;
  --secundario: #2979C4;
  --negro: #242800;
  --error: #ef3c2d;
  --grisclaro: #D1D1D1;
  --gris: #B8B8B8;
  --primariooscuro: #c88200;
  --secundariooscuro: #336596;
  --azul: #4091c9;
  --rojo: #ef3c2d;
  --verde: #a5eea0;
  --success: #a5eea0;
  
  font-family: "Outfit", sans-serif;
  font-weight: 400;
}